@import url(https://fonts.googleapis.com/css?family=Average);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Poiret%20One);
@import url(https://fonts.googleapis.com/css?family=Playwrite%20ES);


body {
  background-color: #101414;
}

h1 {
  color: ghostwhite;
  font-family: "Average", serif;
  font-weight: normal;
  font-size: 4em;
  line-height: 1.25;
  text-align: center;
  margin: 0.5em auto 0.25em;
}

h2 {
  color: #c8c8c8;
  font-family: "Ubuntu", "Trebuchet MS", sans-serif;
  font-weight: normal;
  font-size: 2em;
  text-align: left;
  margin: 0.75em 8px 0.25em;
}

h3 {
  color: #c8c8c8;
  font-family: "Playwrite ES", cursive;
  font-size: 1.75em;
  text-align: center;
  margin: 0 auto;
}

p,
ol {
  color: #e8e8f0;
  font-family: "Average", serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.375;
  margin: 0 8px;
}

div.game {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;

  &>img {
    width: 200px;
    height: 290px;
  }
}

span.rule,
a.rule {
  color: #e8e8f0;
  font-family: "Ubuntu", "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 17px;
}

p#game-question {
  font-size: 24px;
  text-align: center;
  margin: 0.25em auto 0.75em;
}

p#game-prompt {
  color: #c8c8c8;
  font-family: "Ubuntu", "Trebuchet MS", sans-serif;
  font-size: 2.5em;
  font-style: italic;
  text-align: center;
  margin: 0.5em auto 0;
}