@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Playwrite%20ES);
@import url(https://fonts.googleapis.com/css?family=Poiret%20One);

body {
  background-color: ghostwhite;
}

h1 {
  color: #0c0c04;
  font-family: "Playwrite ES", cursive;
  font-size: 4rem;
  line-height: 1.25;
  text-align: center;
  margin: 0.5em auto;

  &.home {
    color: ghostwhite;
    margin-bottom: 1.5em;
  }

  &.about {
    margin-bottom: 0;
  }
}

h2 {
  color: #404040;
  font-family: "Poiret One", "Trebuchet MS", sans-serif;
  font-size: 3rem;
  text-align: center;
  font-weight: normal;

  &.home {
    color: #c8c8c8;
    margin: 1em auto 0.75em;
  }

  &.about {
    margin: 0 auto 1em;
  }

  &.list {
    font-size: 2.5em;
    margin-top: 1em;
  }
}

h3 {
  color: #101414;
  font-family: "Ubuntu", "Trebuchet MS", sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  text-align: center;

  &.home {
    color: #e8e8f0;
    margin: 0.5em auto;
  }

  &.list {
    text-align: left;
    margin: 0.75em 8px 0;
  }
}

p {
  color: #101414;
  font-family: "Ubuntu", "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.375;
  margin: 0 8px;
}

p.about {
  margin-bottom: 0.75em;
}

ul.about {
  margin-bottom: 0.5em;
}

p.list-info {
  color: #404040;
  font-family: "Poiret One", "Trebuchet MS", sans-serif;
  font-size: 30px;
  margin-bottom: 0.5em;
}

div.list-links {
  display: grid;
  grid-template-columns: repeat(3, auto);
  row-gap: 8px;
  justify-items: start;

  &>p>a {
    color: #0c0c04;
  }
}

div#quotes {
  font-family: "Ubuntu", "Trebuchet MS", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
}

div#grid {
  display: grid;
  grid-template-columns: 50px 1fr 50px 1fr 50px 80px;
  gap: 30px 15px;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 5% 4em;

  &>p {
    justify-self: left;
    font-family: "Ubuntu", "Trebuchet MS", sans-serif;
    font-size: 1.75em;
    font-weight: 300;
    margin: 0;

    &#grid-coords {
      grid-column: span 6;
      justify-self: center;
      text-align: center;
    }
  }

  &>a {
    text-align: right;
    &>img {
      width: 50px;
      height: auto;
      margin: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  div#grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px 15px;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 2% 4em;

    &>p {
      justify-self: left;
      font-family: "Ubuntu", "Trebuchet MS", sans-serif;
      font-size: 1.75em;
      font-weight: 300;
      margin: 0;

      &#grid-coords {
        grid-column: span 2;
        justify-self: center;
        text-align: center;
      }
    }

    &>a {
      text-align: right;
      &>img {
        width: 50px;
        height: auto;
        margin: 0;
      }
    }
  }
}

span#pronouns {
  color: #4098e0;
  font-family: "Poiret One", "Trebuchet MS", sans-serif;
  font-size: 3.0rem;
  font-weight: normal;
  font-style: italic;
}

span#coords {
  color: #40ff00;
}

p#q-left {
  color: #e8e8f0;
  text-align: left;
  margin: 0 50% 0.5em 8px;
}

p#q-right {
  color: #e8e8f0;
  text-align: right;
  margin: 0 8px 0.5em 50%;
}

p#list-return {
  margin: 1em 8px 0.5em;

  &>a {
    color: #101414;
  }
}

p#list-about {
  margin: 0.5em 8px 1em;

  &>a {
    color: #101414;
  }
}

p#about-return {
  margin-top: 2em;

  &>a {
    color: #4098e0;
  }
}

#bold {
  color: #e08700;
  font-weight: 500;
}