body {
    background-color: #101414;
}
h1 {
    color: ghostwhite;
    font-family: "Poiret One", "Trebuchet MS", sans-serif;
    font-size: 4rem;
    text-align: center;
    margin: 0.5em auto 0.25em;
}
h1.orange {
    color: #e08700;
    font-family: "Lobster Two", cursive;
}
h2 {
    color: lightgray;
    font-family: "Advent Pro", "Trebuchet MS", sans-serif;
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
    width: 80%;
    margin: 0 auto;
}
.pronouns {
    color: #40ff00;
    font-family: "Poiret One", "Trebuchet MS", sans-serif;
    font-size: 2.75rem;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    margin: 0.25em auto 0.75em;
}
.grid-header {
    color: #40ff00;
    font-family: "Advent Pro", "Trebuchet MS", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    margin: 0.75em auto 0.75em;
}
.bold {
    color: #e08700;
    font-weight: bold;
}
p {
    color: #e8e8f0;
}
.quotes {
    text-align: left;
    font-family: "Ubuntu", "Trebuchet MS", sans-serif;
    font-size: 1.4em;
    line-height: 1.5;
    width: 80%;
    margin: auto;
}
.grid {
    display: grid;
    grid-template-areas: "i-dc p-dc i-ig p-ig" "i-gh p-gh i-ri p-ri" "i-pm p-pm i-os p-os";
    gap: 30px 15px;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 2.5em;
}
.grid > p {
    justify-self: left;
    font-family: "Poiret One", "Trebuchet MS", sans-serif;
    font-size: 1.75em;
    margin: 0;
}
.grid > img,
.grid > a {
    justify-self: right;
    margin: 0;
}
img {
    width: 60px;
    height: auto;
}
