body {
    background-color: #101414;
}
h1 {
    color: #d8d8d8;
    font-size: 4rem;
    text-align: center;
    line-height: 0.5;
}
h2 {
    color: lightgray;
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
    line-height: 0.5;
    width: 80%;
    margin: auto;
}
h3 {
    color: #f80060;
    font-size: 2.75rem;
    text-align: center;
    font-weight: normal;
    font-style: oblique;
    line-height: 0.5;
}
h4 {
    color: #40ff00;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    line-height: 0.5;
}
p {
    color: ghostwhite;
    text-align: center;
}
p > a {
    color: ghostwhite;
}
.quotes {
    font-size: 1.4em;
    line-height: 1.5;
    width: 80%;
    margin: auto;
}
.grid {
    display: grid;
    grid-template-areas: "i-dc p-dc ." "i-ig p-ig ." "i-gh p-gh ." "i-os p-os ." "i-pm p-pm .";
    grid-template-columns: auto auto 5rem;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.grid > p {
    justify-self: left;
    font-size: 1.75em;
}
.grid > img,
.grid > a {
    justify-self: right;
}
img {
    width: 60px;
    height: auto;
}
