@import url(https://fonts.googleapis.com/css?family=Alegreya);
@import url(https://fonts.googleapis.com/css?family=Alegreya%20Sans);

body {
  background-color: ghostwhite;
}

h1 {
  color: #0c0c04;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;

  &.story {
    margin: 0.5em auto 0;
  }
}

h2 {
  color: #404040;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: normal;
  font-size: 1.75em;
  text-align: center;
  line-height: 1.25;

  &.story {
    margin: 0.25em auto 1em;
  }
}

p {
  color: #101414;
  font-family: "Alegreya", serif;
  font-weight: normal;
  font-size: 1.125em;
  text-align: left;
  text-indent: 2em;
  line-height: 1.5;
  margin: 0 8px;

  &.noindent {
    text-indent: 0;
  }

  &.return {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 1.5em;
    text-indent: 0;
    margin-top: 1em;
  }

  &#divider {
    text-align: center;
    margin: 1em auto;
  }
}

a {
  color: #4098e0;
}