@import url(https://fonts.googleapis.com/css?family=Cambria);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Average);

body {
  background-color: white;
}

h1 {
  color: #101414;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  margin: 0.5em auto 0;
}

h2 {
  color: #101414;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
  margin: 1em 8px 0.5em;
}

h3 {
  color: #101414;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 1.75em;
  text-align: center;
  margin: 0.25em auto 0.75em;
}

p {
  color: #101414;
  font-family: "Cambria", serif;
  font-size: 1.06em;
  text-align: left;
  text-indent: 2.5em;
  line-height: 1.5;
  margin: 0 8px;
}

sup {
  font-size: 0.6em;
}

img {
  display: block;
  height: 400px;
  margin: 0.25em auto 0.75em;
}

table {
  display: block;
  border: 1px solid #101014;
  border-collapse: collapse;
  border-spacing: 8px;
}

tr {
  height: 30px;
}

td,
th {
  font-family: "Lato", sans-serif;
  text-align: center;
  vertical-align: bottom;
  font-weight: normal;
}

p#caption {
  font-style: italic;
  text-align: center;
  margin-top: 0.5em;
}

p#noindent {
  text-indent: 0;
}

p#blockmath {
  text-align: center;
  text-indent: 0;
  margin: 0.25em auto;
}

tr#bold>td,
tr#bold>th {
  font-weight: bold;
}

#phys1>th,
#phys2>th,
#phys4>th {
  text-align: left;
  width: 144px;
}

#phys1>td,
#phys2>td {
  width: 60px;
}

#phys3>th {
  font-weight: bold;
}