@import url(https://fonts.googleapis.com/css?family=Cambria);
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  background-color: white;
}

h1 {
  color: #101414;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  margin: 0.5em auto 0;
}

h2 {
  color: #101414;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
  margin: 0.75em 8px 0.25em;
}

h3 {
  color: #101414;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 1.75em;
  text-align: center;
  margin: 0.25em auto 0.75em;
  line-height: 1.25;
}

p,
li {
  color: #101414;
  font-family: "Cambria", serif;
  font-size: 1.06em;
  text-align: left;
  text-indent: 2.5em;
  line-height: 1.5;
  margin: 0 8px;
}

li {
  text-indent: 0;
}

a {
  color: #4098e0;
}

sup {
  font-size: 0.6em;
}

img {
  display: block;
  margin: 0.25em auto 0.75em;

  &.square {
    width: 360px;
  }

  &.long {
    width: 540px;
  }
}

table {
  display: flex;
  border-spacing: 8px;
  border-collapse: collapse;
  justify-self: center;
  margin-bottom: 0.75em;
}

tr {
  height: 30px;
}

td,
th {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  color: #101414;
  text-align: center;
  border: 1px solid #101414;
  padding: 4px;
}

p.caption {
  font-style: italic;
  text-align: center;
  text-indent: 0;
  margin-top: 0.25em;
  margin-bottom: 0.1em;
}

p.noindent {
  text-indent: 0;
}

p#blockmath {
  text-align: center;
  text-indent: 0;
  margin: 0.5em auto;
}

a.fn {
  text-decoration: none;
  font-style: normal;

  &:not(#ref-star) {
    vertical-align: super;
    font-size: x-small;
  }
}

a.ref {
  vertical-align: super;
  font-size: small;
}

ul#physnotes {
  margin: 0.1em;
}

tr#bold {

  &>th,
  &>td {
    font-weight: bold;
  }
}

#phys1>tbody>tr {
  &>th {
    text-align: left;
    width: 120px;
  }

  &>td {
    width: 60px;
  }
}

#phys2>tbody>tr {
  &>th {
    text-align: left;
    width: 120px;
  }

  &>td {
    width: 108px;
  }
}

#phys3>tbody>tr>th {
  font-weight: bold;
  vertical-align: bottom;
}

#phys4>tbody>tr>th {
  text-align: left;
  width: 120px;
}